@page "/admin"
@inject NavigationManager navigationManager

<MatAccordion>
    <MatExpansionPanel>
        <MatExpansionPanelSummary>
            <MatExpansionPanelHeader>Bekijk alle winkels</MatExpansionPanelHeader>
        </MatExpansionPanelSummary>
        <MatExpansionPanelDetails>
            <div class="mat-layout-grid">
                <div class="mat-layout-grid-inner">
                    
                    @*@foreach (DefaultClasses.Gebruiker gebruiker in gebruikers) {
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                            <MatTextField Label="Naam" ReadOnly="true" Value="@gebruiker.Naam"></MatTextField>
                        </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                        <MatTextField Label="Gebruikersnaam" ReadOnly="true" Value="@gebruiker.Gebruikersnaam"></MatTextField>
                    </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                        <MatTextField Style="min-width: 300px;" Label="Email" ReadOnly="true" Value="@gebruiker.Email"></MatTextField>
                    </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                        <MatButton Type="submit" OnClick="@(() => Verwijder(gebruiker))" Raised="true">Verwijder</MatButton>
                    </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12"></div>
                    }*@

                </div>
            </div>
        </MatExpansionPanelDetails>
    </MatExpansionPanel>
    <MatExpansionPanel>
        <MatExpansionPanelSummary>
            <MatExpansionPanelHeader>Bekijk alle winkelverzoeken</MatExpansionPanelHeader>
        </MatExpansionPanelSummary>
        <MatExpansionPanelDetails>
            
        </MatExpansionPanelDetails>
</MatExpansionPanel>
</MatAccordion>

<MatButton OnClick="maak">Maak</MatButton>

<p>@DBConnection.ErrorMessage</p>

@code {

    public DBConnection DBConnection { get; set; } = new DBConnection();
    public Lokaal lokaal { get; set; } = new Lokaal();

    public void maak()
    {
        lokaal = DBConnection.GetLokaal(211);

        this.StateHasChanged();
    }

}