@page "/admin"
@inject NavigationManager navigationManager
@inject IMatToaster Toaster

<MatAccordion Multi="true">
    <MatExpansionPanel>
        <MatExpansionPanelSummary>
            <MatExpansionPanelHeader>Bekijk alle winkels</MatExpansionPanelHeader>
        </MatExpansionPanelSummary>
        <MatExpansionPanelDetails>
            <div class="mat-layout-grid">
                <MatSlideToggle @bind-Value="@Val1"></MatSlideToggle>
                @if (Val1)
                {
                    <span style="margin:10px">alle winkels</span>
                }
                else
                {
                    <span style="margin:10px">actieve winkels</span>
                }
                @if (Val1)
                {
                    <div class="mat-layout-grid-inner">
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                            <b>winkelnummer</b>
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                            <b>naam</b>
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                            <b>beheerder</b>
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                            <b>actief</b>
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                            <b>goedgekeurd</b>
                        </div>


                        @foreach (WinkelDomain.Winkel winkel in winkels.Where(winkel => winkel.goedgekeurd))
                        {
                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                                @winkel.winkelnr
                            </div>
                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                                @winkel.naam
                            </div>
                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                                @winkel.beheerder
                            </div>
                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                                @winkel.actief
                            </div>
                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                                @winkel.goedgekeurd
                            </div>
                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                                @if (winkel.actief)
                                {
                                    <MatButton Type="submit" @key="winkel" OnClick="@(() => VerwijderWinkel(winkel))" Style="width: 200px" Raised="true">actief</MatButton>
                                }
                                else
                                {
                                    <MatButton Type="submit" @key="winkel" OnClick="@(() => VerwijderWinkel(winkel))" Style="width: 200px" Raised="true">niet actief</MatButton>
                                }
                            </div>
                        }
                    </div>
                }
                else
                {
                    <div class="mat-layout-grid-inner">
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                            <b>winkelnummer</b>
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                            <b>naam</b>
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                            <b>beheerder</b>
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                            <b>actief</b>
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                            <b>goedgekeurd</b>
                        </div>



                        @foreach (WinkelDomain.Winkel winkel in winkels.Where(winkel => winkel.actief && winkel.goedgekeurd))
                        {
                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                                @winkel.winkelnr
                            </div>
                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                                @winkel.naam
                            </div>
                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                                @winkel.beheerder
                            </div>
                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                                @winkel.actief
                            </div>
                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                                @winkel.goedgekeurd
                            </div>

                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                                <MatButton Type="submit" @key="winkel" OnClick="@(() => VerwijderWinkel(winkel))" Style="width: 200px" Raised="true">Actief</MatButton>
                            </div>
                        }
                    </div>
                }
            </div>
        </MatExpansionPanelDetails>
    </MatExpansionPanel>
    <MatExpansionPanel>
        <MatExpansionPanelSummary>
            <MatExpansionPanelHeader>Bekijk alle winkels</MatExpansionPanelHeader>
        </MatExpansionPanelSummary>
        <MatExpansionPanelDetails>
            <div class="mat-layout-grid">
                <div class="mat-layout-grid-inner">
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                        <b>winkelnummer</b>
                    </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                        <b>naam</b>
                    </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                        <b>beheerder</b>
                    </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                        <b>actief</b>
                    </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                        <b>goedgekeurd</b>
                    </div>


                    @foreach (WinkelDomain.Winkel winkel in winkels.Where(winkel => !winkel.goedgekeurd))
                    {
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                            @winkel.winkelnr
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                            @winkel.naam
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                            @winkel.beheerder
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                            @winkel.actief
                        </div> <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                            @winkel.goedgekeurd
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                            <MatButton Type="submit" @key="winkel" OnClick="@(() => goedkeuringWinkel(winkel))" Style="width: 200px" Raised="true">Actief maken</MatButton>
                        </div>
                    }
                </div>
            </div>

        </MatExpansionPanelDetails>
    </MatExpansionPanel>
    <MatExpansionPanel>
        <MatExpansionPanelSummary>
            <MatExpansionPanelHeader>Bekijk lokalen</MatExpansionPanelHeader>
            <MatExpansionPanelSubHeader>
                <MatButton Label="Voeg lokaal toe" OnClick="@voegLokaalToePopup" />
            </MatExpansionPanelSubHeader>
        </MatExpansionPanelSummary>
        <MatExpansionPanelDetails>
            <MatAccordion Multi="true">
                @if (lokalen != null)
                {
                    @foreach (Lokaal lokaal in lokalen)
                    {
                        <MatExpansionPanel>
                            <MatExpansionPanelSummary>
                                <MatExpansionPanelHeader>Lokaal @lokaal.lokaalNr</MatExpansionPanelHeader>
                            </MatExpansionPanelSummary>
                            <MatExpansionPanelDetails>

                                <p style="font-weight: bold">Lokaal actief/inactief: </p>

                                <MatSlideToggle @bind-Value="@lokaal.isActief"></MatSlideToggle>

                                @if (lokaal.isActief)
                                {
                                    <p style="font-weight: bold">Actief</p>
                                }
                                else
                                {
                                    <p style="font-weight: bold">Inactief</p>
                                }

                                <MatList>
                                    @foreach (Voorwerp voorwerp in lokaal.Voorwerpen)
                                    {
                                        <MatListItem>
                                            @voorwerp.voorwerpNaam
                                            <p style="text-align:right; width:100%; padding:0;"></p>
                                            <MatButton Label="-" style="padding-right:10px" OnClick="@(() => Verlaag(voorwerp, lokaal))" />
                                            <p style="padding-right:10px; max-height:10px">@voorwerp.aantal</p>
                                            <MatButton Label="+" style="margin-right:0px;" OnClick="@(() => Verhoog(voorwerp, lokaal))" />
                                            <MatIconButton Icon="notification_important" style="margin-right:5px;" OnClick="@(() => popupOnClick(voorwerp, lokaal))"></MatIconButton>
                                            <p style="margin-right:0px; max-height:1px">@voorwerp.aantalDefecten</p>
                                            <MatButton Label="-" style="margin-right:1px;" OnClick="@(() => verwijderDefect(voorwerp, lokaal))" />
                                            <p style="position: absolute; right: 0; max-height:10px"></p>

                                        </MatListItem>
                                        <MatListDivider></MatListDivider>
                                    }
                                </MatList>
                            </MatExpansionPanelDetails>
                        </MatExpansionPanel>
                    }
                }
            </MatAccordion>
        </MatExpansionPanelDetails>
    </MatExpansionPanel>
</MatAccordion>

<MatDialog @bind-IsOpen="@dialogIsOpen">
    <MatDialogTitle>Lokaal toevoegen</MatDialogTitle>
    <MatDialogContent>
        <MatNumericUpDownField @onfocusout="CheckNummer" Label="Lokaalnummer:" Minimum="0" @bind-Value="lokaalNummer"></MatNumericUpDownField>
        <MatTextField Label="Lokaalverantwoordelijke:" @bind-Value="lokaalverantwoordelijke"></MatTextField>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="@(() => maakLokaalAan(lokaalNummer, lokaalverantwoordelijke))">Toevoegen</MatButton>
    </MatDialogActions>
</MatDialog>

@DBConnection.ErrorMessage

@code {
    private bool Val1 = true;
    private bool Val2 = false;

    public DBConnection DBConnection { get; set; } = new DBConnection();
    public DBConnectionMongoDB DBConnectionMongoDB { get; set; } = new DBConnectionMongoDB();

    public bool dialogIsOpen = false;
    public bool comfirmatieVerwijderLokaal = false;
    public int lokaalNummer;
    public string lokaalverantwoordelijke;

    public Lokaal lokaal { get; set; }

    public List<WinkelDomain.Winkel>
    winkels = new List<WinkelDomain.Winkel>();
    public List<Lokaal> lokalen { get; set; }

    public void annuleerVerwijderLokaal()
    {
        comfirmatieVerwijderLokaal = false;
    }

    public void verwijderLokaalPopUp()
    {
        comfirmatieVerwijderLokaal = true;
    }

    protected override async Task OnInitializedAsync()
    {

        winkels = DBConnection.GetAllWinkels();
        lokalen = await DBConnectionMongoDB.GetAllLokalen();

    }
    public void voegLokaalToePopup()
    {
        dialogIsOpen = true;
    }

    public void verwijderLokaal()
    {
        //TODO verwijder lokaal uit databank
        comfirmatieVerwijderLokaal = false;
    }

    public async void maakLokaalAan(int lokaalNr, string lokaalverantwoordelijke)
    {
        lokaal = new Lokaal(lokaalNr);
        lokaal.lokaalVerantwoordelijke = lokaalverantwoordelijke;

        dialogIsOpen = false;

        var gelukt = await DBConnectionMongoDB.SaveLokaal(lokaal);

        if (gelukt)
        {
            Toaster.Add("Succesvol toegevoegd", MatToastType.Success, "Gelukt");
        }
        else
        {
            Toaster.Add("Er bestaat reeds een lokaal met dit nummer", MatToastType.Danger, "Mislukt");
        }
        this.StateHasChanged();

    }

    public void VerwijderWinkel(WinkelDomain.Winkel winkel)
    {
        //TODO VERANDER STATUS WINKEL
        winkel.actief = !winkel.actief;
        bool temp = DBConnection.VeranderStatusWinkel(winkel);
        this.StateHasChanged();
    }

    public void goedkeuringWinkel(WinkelDomain.Winkel winkel)
    {
        //TODO VERANDER STATUS WINKEL
        winkel.goedgekeurd = !winkel.goedgekeurd;
        bool temp = DBConnection.VeranderGoedgekeurdWinkel(winkel);
        this.StateHasChanged();
    }

    public void sorteerLijst()
    {

    }

    public async void popupOnClick(Voorwerp voorwerp, Lokaal lokaal)
    {
        if (voorwerp.aantalDefecten < voorwerp.aantal)
        {
            voorwerp.aantalDefecten += 1;

            if (voorwerp.aantalDefecten == 0)
            {
                voorwerp.defect = false;
            }
            else
            {
                voorwerp.defect = true;
            }

            await DBConnectionMongoDB.UpdateLokaal(lokaal);

            Toaster.Add("Succesvol toegevoegd", MatToastType.Success, "Gelukt");
        }
        else
        {
            Toaster.Add("U kan niet meer defecten hebben dan dat er " + voorwerp.voorwerpNaam.ToLower() + " zijn", MatToastType.Danger, "Error");
        }


    }

    public async void Verlaag(Voorwerp voorwerp, Lokaal lokaal)
    {
        if (voorwerp.aantal > 0)
        {
            voorwerp.verlaagHoeveelheidVoorwerp();
            await DBConnectionMongoDB.UpdateLokaal(lokaal);
        }
    }

    public async void Verhoog(Voorwerp voorwerp, Lokaal lokaal)
    {
        voorwerp.verhoogHoeveelheidVoorwerp();
        await DBConnectionMongoDB.UpdateLokaal(lokaal);
    }

    public async void verwijderDefect(Voorwerp voorwerp, Lokaal lokaal)
    {
        if (voorwerp.aantalDefecten > 0)
        {
            voorwerp.verlaagDefecte();
            if (voorwerp.aantalDefecten == 0)
            {
                voorwerp.defect = false;
            }
            else
            {
                voorwerp.defect = true;
            }
            await DBConnectionMongoDB.UpdateLokaal(lokaal);
        }

    }

    public void CheckNummer()
    {
        if (lokaalNummer < 0)
        {
            lokaalNummer = 0;
        }
    }
}
