@page "/admin"
@inject NavigationManager navigationManager

<MatAccordion>
    <MatExpansionPanel>
        <MatExpansionPanelSummary>
            <MatExpansionPanelHeader>Bekijk alle winkels</MatExpansionPanelHeader>
        </MatExpansionPanelSummary>
        <MatExpansionPanelDetails>
            <div class="mat-layout-grid">
                <div class="mat-layout-grid-inner">
                    @foreach (WinkelDomain.Winkel winkel in winkels)
                    {
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                            @winkel.winkelnr
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                            @winkel.naam
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                            @winkel.beheerder
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                            @winkel.actief
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                            <MatButton Type="submit" @key="winkel" OnClick="@(() => VerwijderWinkel(winkel))" Raised="true">Actief</MatButton>
                        </div>
                    }
                </div>
            </div>
        </MatExpansionPanelDetails>
    </MatExpansionPanel>
    <MatExpansionPanel>
        <MatExpansionPanelSummary>
            <MatExpansionPanelHeader>Bekijk alle winkelverzoeken</MatExpansionPanelHeader>
        </MatExpansionPanelSummary>
        <MatExpansionPanelDetails>

        </MatExpansionPanelDetails>
    </MatExpansionPanel>
    <MatExpansionPanel>
        <MatExpansionPanelSummary>
            <MatExpansionPanelHeader>Bekijk lokalen</MatExpansionPanelHeader>
            <MatExpansionPanelSubHeader>
                <MatButton Label="Voeg lokaal toe" OnClick="@maakLokaalAan" />
            </MatExpansionPanelSubHeader>
        </MatExpansionPanelSummary>
        <MatExpansionPanelDetails>
            @*<MatAccordion Multi="true">
                @foreach (Lokaal lokaal in lokalen)
                {
                    <MatExpansionPanel>
                        <MatExpansionPanelSummary>
                            <MatExpansionPanelHeader>Lokaal @lokaal.lokaalNr</MatExpansionPanelHeader>
                        </MatExpansionPanelSummary>
                        <MatExpansionPanelDetails>
                            <MatList>
                                <MatListItem>
                                    Banken
                                    <p style="text-align:right; width:100%; padding:0;"></p>
                                    <MatButton Label="-" style="padding-right:20px" OnClick="@lokaal.verwijderBank" />
                                    <p style="padding-right:10px; max-height:10px">@lokaal.aantalBanken</p>
                                    <MatButton Label="+" style="margin-right:20px;" OnClick="@lokaal.voegBankToe" />
                                    <MatIconButton Icon="notification_important" style="position: absolute; right: 0" OnClick="@voegToeAanDefect"></MatIconButton>
                                </MatListItem>
                                <MatListDivider></MatListDivider>
                                <MatListItem>
                                    Beamers
                                    <p style="text-align:right; width:100%; padding:0;"></p>
                                    <MatButton Label="-" style="padding-right:20px" OnClick="@lokaal.verwijderBeamer" />
                                    <p style="padding-right:10px; max-height:10px">@lokaal.aantalBeamers</p>
                                    <MatButton Label="+" style="margin-right:20px;" OnClick="@lokaal.voegBeamerToe" />
                                    <MatIconButton Icon="notification_important" style="position: absolute; right: 0" OnClick="@voegToeAanDefect"></MatIconButton>
                                </MatListItem>
                                <MatListDivider></MatListDivider>
                                <MatListItem>
                                    Stoelen
                                    <p style="text-align:right; width:100%; padding:0;"></p>
                                    <MatButton Label="-" style="padding-right:20px" OnClick="@lokaal.verwijderStoel" />
                                    <p style="padding-right:10px; max-height:10px">@lokaal.aantalStoelen</p>
                                    <MatButton Label="+" style="margin-right:20px;" OnClick="@lokaal.voegStoelToe" />
                                    <MatIconButton Icon="notification_important" style="position: absolute; right: 0" OnClick="@voegToeAanDefect"></MatIconButton>
                                </MatListItem>
                                <MatListDivider></MatListDivider>
                                <MatListItem>
                                    Computers
                                    <p style="text-align:right; width:100%; padding:0;"></p>
                                    <MatButton Label="-" style="padding-right:20px" OnClick="@lokaal.verwijderComputer" />
                                    <p style="padding-right:10px; max-height:10px">@lokaal.aantalComputers</p>
                                    <MatButton Label="+" style="margin-right:20px;" OnClick="@lokaal.voegComputerToe" />
                                    <MatIconButton Icon="notification_important" style="position: absolute; right: 0" OnClick="@voegToeAanDefect"></MatIconButton>
                                </MatListItem>
                                <MatListDivider></MatListDivider>
                                <MatListItem>
                                    Schermen
                                    <p style="text-align:right; width:100%; padding:0;"></p>
                                    <MatButton Label="-" style="padding-right:20px" OnClick="@lokaal.verwijderScherm" />
                                    <p style="padding-right:10px; max-height:10px">@lokaal.aantalSchermen</p>
                                    <MatButton Label="+" style="margin-right:20px;" OnClick="@lokaal.voegSchermToe" />
                                    <MatIconButton Icon="notification_important" style="position: absolute; right: 0" OnClick="@voegToeAanDefect"></MatIconButton>
                                </MatListItem>
                                <MatListItem>
                                    <MatButton Label="Verwijder Lokaal" style="position: absolute; right: 0;" OnClick="@verwijderLokaalPopUp" />
                                </MatListItem>
                            </MatList>
                        </MatExpansionPanelDetails>
                    </MatExpansionPanel>
                }
            </MatAccordion>*@
        </MatExpansionPanelDetails>
    </MatExpansionPanel>
</MatAccordion>

<MatDialog @bind-IsOpen="@dialogIsOpen">
    <MatDialogTitle>Nummer</MatDialogTitle>
    <MatDialogContent>
        <p>Geef de nummer van het item</p>
        <MatTextField Label="Lokaalnummer:" @bind-Value="lokaalNummer"></MatTextField>
        <MatTextField Label="Lokaalverantwoordelijke:" @bind-Value="lokaalverantwoordelijke"></MatTextField>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="@maakLokaalAan">Voeg toe</MatButton>
    </MatDialogActions>
</MatDialog>

@DBConnection.ErrorMessage

@code {

    public DBConnection DBConnection { get; set; } = new DBConnection();
    public DBConnectionMongoDB BConnectionMongoDB { get; set; } = new DBConnectionMongoDB();

    public bool dialogIsOpen = false;
    public bool comfirmatieVerwijderLokaal = false;
    public int lokaalNummer;
    public string lokaalverantwoordelijke;

    public List<WinkelDomain.Winkel> winkels = new List<WinkelDomain.Winkel>();
    public List<Lokaal> lokalen { get; set; }

    public void annuleerVerwijderLokaal()
    {
        comfirmatieVerwijderLokaal = false;
    }

    public void verwijderLokaalPopUp()
    {
        comfirmatieVerwijderLokaal = true;
    }

    protected override void OnInitialized()
    {

        winkels = DBConnection.GetAllWinkels();

    }

    public void voegToeAanDefect()
    {
        dialogIsOpen = true;
    }

    public void verwijderLokaal()
    {
        //TODO verwijder lokaal uit databank
        comfirmatieVerwijderLokaal = false;
    }

    public void maakLokaalAan()
    {

    }

    public void VerwijderWinkel(WinkelDomain.Winkel winkel)
    {
        //TODO VERANDER STATUS WINKEL
        winkel.actief = !winkel.actief;
        DBConnection.VeranderStatusWinkel(winkel);
        this.StateHasChanged();
    }

}