@page "/winkels"
@page "/winkels/{naam}"
@inject NavigationManager NavigationManager
<style>
    .tabs {
        background-color: rgba(193, 193, 193, 0.3);
    }
</style>
@if (alleWinkels)
{
    <div class="mat-layout-grid">
        @foreach (WinkelDomain.Winkel winkel in winkels.Where(winkel => winkel.actief && winkel.goedgekeurd))
        {
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell">
                    <img src="https://image.freepik.com/vrije-vector/vlees-winkel-logo_71835-89.jpg" style="width: 150px; height: 150px;" alt="Afbeeldingsresultaat voor winkel logo" /> <h2>@winkel.naam</h2>
                </div>
                @if (aantal % 3 == 0)
                {
                    <br />
                }
            </div>
        }
    </div>
}
else
{
    <h1>@winkel.naam</h1>
    if (winkel.artikels != null)
    {
<div class="container">
    <div class="row">

        @foreach (Artikel artikel in winkel.artikels)
        {

            <div class="col-sm">
                <h1 style="float:left;">@artikel.productnaam</h1>
                <h2 style="float:left;">€ @artikel.standaardPrijs</h2>
                <h2 style="float:left;">@artikel.stock</h2>
            </div>

        }
    </div>

</div>

        <MatButton Label="-" style="margin-right:1px;" Value="Bestel" />
    }
}

@code {
    public List<WinkelDomain.Winkel> winkels = new List<WinkelDomain.Winkel>();
    public Winkel winkel { get; set; } = new Winkel();
    public int aantal = 0;
    public DBConnection DBConnection { get; set; }
    public bool alleWinkels;
    public void verhoogwaarde()
    {
        aantal++;
    }
    [Parameter]
    public string Naam { get; set; }

    protected override void OnInitialized()
    {
        DBConnection = new DBConnection();

        if (Naam == null)
        {
            winkel = DBConnection.GetWinkel(Naam);
            //veranderen naar true (bij else naar false)
            alleWinkels = false;
        }
        else
        {
            alleWinkels = true;
        }

        winkel.artikels = new List<Artikel>();

        var artikel = new Artikel();
        artikel.productnaam = "Test";
        artikel.standaardPrijs = 1.2;
        artikel.stock = 2;
        winkel.artikels.Add(artikel);
        winkel.artikels.Add(artikel);
        winkel.artikels.Add(artikel);
        winkel.artikels.Add(artikel);
        winkel.artikels.Add(artikel);
        winkel.artikels.Add(artikel);



    }

    public void test(Winkel winkel)
    {
        NavigationManager.NavigateTo($"/winkels/{winkel.naam}", true);
    }
}