@page "/winkels"
@page "/winkels/{adress}"
@inject IMatToaster Toaster
@inject NavigationManager NavigationManager
@inject GoogleGebruiker Gebruiker
@inject ISessionStorageService sessionStorage
<style>
    .tabs {
        background-color: rgba(193, 193, 193, 0.3);
    }

    .container {
        padding: 0px;
        margin: 0px;
    }

    .row {
        margin: 0px;
    }

    .content px-4 {
        padding-right: 0px;
    }

    td {
        padding: 10px;
    }

</style>

@if (alleWinkels)
{
    <MatTextField @bind-Value="@SearchString1" Label="Winkel naam" FullWidth="true" @onchange="Refresh"></MatTextField>

    <br />

    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">

            @if (string.IsNullOrWhiteSpace(SearchString1))
            {
                @foreach (WinkelDomain.Winkel winkel in winkels.Where(winkel => winkel.actief && winkel.goedgekeurd))
                {
                    <div class="mat-layout-grid-cell">
                        <img src="https://image.freepik.com/vrije-vector/vlees-winkel-logo_71835-89.jpg" style="width: 150px;height: 150px;" alt="Afbeeldingsresultaat voor winkel logo" />
                        <h2>@winkel.naam</h2>
                        <MatButton Unelevated="true" @onclick="@(() => GaNaarWinkel(winkel))">Ga naar winkel</MatButton>
                    </div>
                }
            }
            else
            {
                @foreach (WinkelDomain.Winkel winkel in winkels.Where(winkel => winkel.actief && winkel.goedgekeurd && winkel.naam.ToLower().Contains(SearchString1.ToLower().Trim())))
                {
                    <div class="mat-layout-grid-cell">
                        <img src="https://image.freepik.com/vrije-vector/vlees-winkel-logo_71835-89.jpg" style="width: 150px;height: 150px;" alt="Afbeeldingsresultaat voor winkel logo" />
                        <h2>@winkel.naam</h2>
                        <MatButton Unelevated="true" @onclick="@(() => GaNaarWinkel(winkel))">Ga naar winkel</MatButton>
                    </div>
                }

                @if (winkels.Where(winkel => winkel.actief && winkel.goedgekeurd && winkel.naam.ToLower().Contains(SearchString1.ToLower().Trim())).Count() == 0)
                {
                    <div class="mat-layout-grid-cell">
                        <h2>Geen winkels gevonden</h2>
                    </div>
                }
            }

        </div>
    </div>
}
else
{
    <MatTextField @bind-Value="@SearchString2" Label="Artikel naam" FullWidth="true" @onchange="Refresh"></MatTextField>

    <br />

    <div class="container">

        <div class="row">
            <div class="col-8">

                <div class="mat-layout-grid">
                    <div class="mat-layout-grid-inner">

                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                            <h1>@winkel.naam</h1>
                        </div>

                        @if (winkel.artikels != null)
                        {
                            @if (string.IsNullOrWhiteSpace(SearchString2))
                            {
                                <table>
                                    <tr>
                                        <td><h2 style="width:200px">Product naam</h2></td>
                                        <td><h2>Prijs</h2></td>
                                        <td><h2>aantal</h2></td>
                                    </tr>
                                    @foreach (Artikel artikel in winkel.artikels.Where(v => v.actief))
                                    {
                                        <tr>
                                            <td>
                                                <h2>@artikel.productnaam</h2>
                                            </td>

                                            <td>
                                                <h2>€ @artikel.geefHuidigePrijs()</h2>
                                            </td>

                                            <td>
                                                <h2>@artikel.stock</h2>
                                            </td>

                                            <td>

                                                @if (artikel.stock == 0)
                                                {
                                                    <MatButton Disabled="true" Unelevated="true" @onclick="@(() => OpenDialog(null))">Bestel</MatButton>
                                                }
                                                else
                                                {
                                                    <MatButton Unelevated="true" @onclick="@(() => OpenDialog(artikel))">Bestel</MatButton>
                                                }

                                            </td>
                                        </tr>

                                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12"></div>
                                    }
                                </table>

                            }
                            else
                            {
                                <table>
                                    <tr>
                                        <td><h2 style="width:200px">Product naam</h2></td>
                                        <td><h2>Prijs</h2></td>
                                        <td><h2>aantal</h2></td>
                                    </tr>
                                    @foreach (Artikel artikel in winkel.artikels.Where(v => v.actief && v.productnaam.ToLower().Contains(SearchString2.ToLower().Trim())))
                                    {
                                        <tr>
                                            <td>
                                                <h2>@artikel.productnaam</h2>
                                            </td>

                                            <td>
                                                <h2>€ @artikel.geefHuidigePrijs()</h2>
                                            </td>

                                            <td>
                                                <h2>@artikel.stock</h2>
                                            </td>

                                            <td>

                                                @if (artikel.stock == 0)
                                                {
                                                    <MatButton Disabled="true" Unelevated="true" @onclick="@(() => OpenDialog(null))">Bestel</MatButton>
                                                }
                                                else
                                                {
                                                    <MatButton Unelevated="true" @onclick="@(() => OpenDialog(artikel))">Bestel</MatButton>
                                                }

                                            </td>
                                        </tr>

                                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12"></div>
                                    }
                                </table>
                            }
                        }

                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                            <MatButton Unelevated="true" @onclick="TerugNaarAlleWinkels">Terug naar alle winkels</MatButton>
                        </div>

                    </div>
                </div>

                <MatDialog @bind-IsOpen="@dialogIsOpen">
                    <MatDialogContent>
                        <MatDialogTitle>Informatie over artikel</MatDialogTitle>

                        <MatNumericUpDownField @onfocusout="CheckNummer" Label="Aantal:" Minimum="1" Maximum="max" @bind-Value="aantalVanProduct"></MatNumericUpDownField>
                        <MatTextField @bind-Value="@notitie" Dense="true" Label="Notitie:" TextArea="true"></MatTextField>

                    </MatDialogContent>
                    <MatDialogActions>
                        <MatButton @onclick="@Sluit">ANNULEER</MatButton>
                        <MatButton OnClick="@BestelArtikel">VOEG TOE</MatButton>
                    </MatDialogActions>
                </MatDialog>

            </div>
            <div class="col-4">

                @if (!this.Bestelling.IsBestellingEmpty())
                {
                    <div class="mat-layout-grid">
                        <div class="mat-layout-grid-inner">

                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                                <h3>Winkelmandje</h3>
                            </div>

                            <table>
                                <tr>
                                    <td><h2 style="width:200px">Product naam</h2></td>
                                    <td><h2>Prijs</h2></td>
                                    <td><h2>aantal</h2></td>
                                </tr>
                                @foreach (BesteldArtikel besteldArtikel in this.Bestelling.GetBesteldeArtikels())
                                {
                                    <tr>
                                        <td style="padding:0px">
                                            <h2>
                                                <h2>@besteldArtikel.AantalString</h2>
                                            </h2>
                                        </td>

                                        <td style="padding:0px">
                                            <h2>
                                                <h2>@besteldArtikel.Productnaam</h2>
                                            </h2>
                                        </td>

                                        <td style="padding:0px">
                                            <h2>
                                                <h2>€@besteldArtikel.Prijs</h2>
                                            </h2>
                                        </td>

                                        <td style="padding:0px">
                                            <h2>
                                                <MatFAB @onclick="@(() => VerwijderArtikel(besteldArtikel))" Icon="@MatIconNames.Remove"></MatFAB>
                                            </h2>
                                        </td>
                                    </tr>
                                }
                            </table>

                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                                <MatButton Unelevated="true" @onclick="@(() => BestellingAfronden())">Bestelling Afronden</MatButton>
                            </div>

                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
}

@code {

    public List<WinkelDomain.Winkel> winkels = new List<WinkelDomain.Winkel>();
    public Winkel winkel { get; set; } = new Winkel();
    public DBConnection DBConnection { get; set; }
    public bool alleWinkels;

    public bool dialogIsOpen = false;

    public int max = 2;

    public int aantalVanProduct = 1;
    public string notitie = "";

    public string SearchString1 = "";
    public string SearchString2 = "";

    public Bestelling Bestelling { get; set; }
    public Artikel Artikel { get; set; }

    [Parameter]
    public string Adress { get; set; }

    protected override void OnInitialized()
    {
        DBConnection = new DBConnection();

        if (Adress == null)
        {
            winkels = DBConnection.GetAllWinkels();
            alleWinkels = true;
            this.StateHasChanged();
        }
        else
        {
            //Get artikels van winkel uit DB
            //winkel = DBConnection

            winkel = DBConnection.GetWinkelByAdress(Adress);

            Bestelling = new Bestelling(Gebruiker.GebruikerInfo.GebruikersNaam);

            this.StateHasChanged();
        }

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        this.Gebruiker = await sessionStorage.GetItemAsync<GoogleGebruiker>("GoogleGebruiker");
        this.Gebruiker.Refresh();

        if (this.Bestelling != null)
        {
            this.Bestelling.GebruikersNaam = this.Gebruiker.GebruikerInfo.GebruikersNaam;
        }

        this.StateHasChanged();
    }

    public void GaNaarWinkel(Winkel winkel)
    {
        NavigationManager.NavigateTo($"/winkels/{winkel.adress}", true);
    }

    public void TerugNaarAlleWinkels()
    {
        NavigationManager.NavigateTo("winkels", true);
    }

    public void BestelArtikel()
    {
        BesteldArtikel temp = new BesteldArtikel(Artikel, aantalVanProduct, notitie);

        bool succes = this.Bestelling.AddArtikel(temp);

        if (succes)
        {
            this.Artikel = null;
            this.aantalVanProduct = 1;
            this.notitie = "";
            this.dialogIsOpen = false;
        }

        this.StateHasChanged();
    }

    public void Refresh()
    {
        this.StateHasChanged();
    }

    public void BestellingAfronden()
    {
        this.Bestelling.FinishBestelling();

        bool succes = DBConnection.AddBestelling(this.Bestelling);

        if (succes)
        {
            NavigationManager.NavigateTo($"/betalen/{this.Bestelling.Code}/{this.Adress}");
        }
        else
        {
            Toaster.Add("Er is iets fout gegaan, neem contact op met een ICT verantwoordelijke", MatToastType.Danger, "Error");
        }
    }

    public void Sluit()
    {
        dialogIsOpen = false;
    }

    public void OpenDialog(Artikel artikel)
    {
        if (artikel != null)
        {
            this.Artikel = artikel;
            max = this.Artikel.stock;
            dialogIsOpen = true;
        }
    }

    public void VerwijderArtikel(BesteldArtikel besteldArtikel)
    {
        this.Bestelling.VerwijderArtikel(besteldArtikel);
        this.StateHasChanged();
    }

    public void CheckNummer()
    {
        if (aantalVanProduct < 1 || aantalVanProduct > max)
        {
            aantalVanProduct = 1;
        }
    }
}
