@page "/winkels"
@page "/winkels/{naam}"
@inject NavigationManager NavigationManager
@inject GoogleGebruiker Gebruiker
<style>
    .tabs {
        background-color: rgba(193, 193, 193, 0.3);
    }
</style>

@if (alleWinkels)
{
    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">

            @foreach (WinkelDomain.Winkel winkel in winkels.Where(winkel => winkel.actief && winkel.goedgekeurd))
            {
                <div class="mat-layout-grid-cell">
                    <img src="https://image.freepik.com/vrije-vector/vlees-winkel-logo_71835-89.jpg" style="width: 150px; height: 150px;" alt="Afbeeldingsresultaat voor winkel logo" />
                    <h2>@winkel.naam</h2>
                    <MatButton Unelevated="true" @onclick="@(() => GaNaarWinkel(winkel))">Ga naar winkel</MatButton>
                </div>
            }

        </div>
    </div>
}
else
{
    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">

            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                <h1>@winkel.naam</h1>
            </div>

            @if (winkel.artikels != null)
            {
                @foreach (Artikel artikel in winkel.artikels)
                {
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                        <h2>@artikel.productnaam</h2>
                    </div>

                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                        <h2>€ @artikel.standaardPrijs</h2>
                    </div>

                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                        <h2>@artikel.stock</h2>
                    </div>

                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">

                        @if (artikel.stock == 0)
                        {
                            <MatButton Disabled="true" Unelevated="true" @onclick="@(() => BestelArtikel(artikel))">Bestel</MatButton>
                        }
                        else
                        {
                            <MatButton Unelevated="true" @onclick="@(() => BestelArtikel(artikel))">Bestel</MatButton>
                        }

                    </div>

                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12"></div>
                }

                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                    <MatButton Unelevated="true" @onclick="@(() => BestellingAfronden())">Bestelling Afronden</MatButton>
                </div>

            }

        </div>
    </div>
}

@code {

    public List<WinkelDomain.Winkel> winkels = new List<WinkelDomain.Winkel>();
    public Winkel winkel { get; set; } = new Winkel();
    public DBConnection DBConnection { get; set; }
    public bool alleWinkels;

    public Bestelling Bestelling { get; set; }

    [Parameter]
    public string Naam { get; set; }

    protected override void OnInitialized()
    {
        DBConnection = new DBConnection();

        if (Naam == null)
        {
            winkels = DBConnection.GetAllWinkels();
            alleWinkels = true;
            this.StateHasChanged();
        }
        else
        {
            //Get artikels van winkel uit DB
            //winkel = DBConnection

            alleWinkels = false;

            var artikel = new Artikel();
            artikel.productnaam = "Test";
            artikel.standaardPrijs = 1.2;
            artikel.stock = 2;
            winkel.artikels.Add(artikel);

            var artikel2 = new Artikel();
            artikel2.productnaam = "Test2";
            artikel2.standaardPrijs = 2;
            artikel2.stock = 0;

            winkel.artikels.Add(artikel2);

            Bestelling = new Bestelling(Gebruiker.GebruikerInfo.GebruikersNaam);

            this.StateHasChanged();
        }

    }

    public void GaNaarWinkel(Winkel winkel)
    {
        NavigationManager.NavigateTo($"/winkels/{winkel.naam}", true);
    }

    public void BestelArtikel(Artikel artikel)
    {
        BesteldArtikel temp = new BesteldArtikel(artikel, 0, null);

        if (!(Bestelling.BesteldeArtikels.Contains(temp)))
        {
            Bestelling.BesteldeArtikels.Add(temp);
        }
    }

    public void BestellingAfronden()
    {
        //int bestelNr = DBConnection
        //NavigationManager.NavigateTo($"/betalen/{bestelNr}");
    }
}