@page "/inventaris"

    <MatAccordion>
        <MatExpansionPanel>
            <MatExpansionPanelSummary>
                <MatExpansionPanelHeader>Lokaal @lokaal.lokaalNr</MatExpansionPanelHeader>
            </MatExpansionPanelSummary>
            <MatExpansionPanelDetails>
                <MatList>
                    <MatListItem>
                        Banken
                        <p style="text-align:right; width:100%; padding:0;"></p>
                        <MatButton Label="-" style="padding-right:20px" OnClick="@lokaal.verwijderBank" />
                        <p style="padding-right:50px; max-height:10px">@lokaal.aantalBanken</p>
                        <MatButton Label="+" style="position: absolute; right: 0" OnClick="@lokaal.voegBankToe" />
                    </MatListItem>
                    <MatListDivider></MatListDivider>
                    <MatListItem>
                        Beamers
                        <p style="text-align:right; width:100%; padding:0;"></p>
                        <MatButton Label="-" style="padding-right:20px" OnClick="@lokaal.verwijderBeamer" />
                        <p style="padding-right:50px; max-height:10px">@lokaal.aantalBeamers</p>
                        <MatButton Label="+" style="position: absolute; right: 0" OnClick="@lokaal.voegBeamerToe" />
                    </MatListItem>
                    <MatListDivider></MatListDivider>
                    <MatListItem>
                        Stoelen
                        <p style="text-align:right; width:100%; padding:0;"></p>
                        <MatButton Label="-" style="padding-right:20px" OnClick="@lokaal.verwijderStoel" />
                        <p style="padding-right:50px; max-height:10px">@lokaal.aantalStoelen</p>
                        <MatButton Label="+" style="position: absolute; right: 0" OnClick="@lokaal.voegStoelToe" />
                    </MatListItem>
                    <MatListDivider></MatListDivider>
                    <MatListItem>
                        Computers
                        <p style="text-align:right; width:100%; padding:0;"></p>
                        <MatButton Label="-" style="padding-right:20px" OnClick="@lokaal.verwijderComputer" />
                        <p style="padding-right:50px; max-height:10px">@lokaal.aantalComputers</p>
                        <MatButton Label="+" style="position: absolute; right: 0" OnClick="@lokaal.voegComputerToe" />
                    </MatListItem>
                    <MatListDivider></MatListDivider>
                    <MatListItem>
                        Schermen
                        <p style="text-align:right; width:100%; padding:0;"></p>
                        <MatButton Label="-" style="padding-right:20px" OnClick="@lokaal.verwijderScherm" />
                        <p style="padding-right:50px; max-height:10px">@lokaal.aantalSchermen</p>
                        <MatButton Label="+" style="position: absolute; right: 0" OnClick="@lokaal.voegSchermToe" />
                    </MatListItem>
                </MatList>
               


            </MatExpansionPanelDetails>
        </MatExpansionPanel>
    </MatAccordion>


@code{

    public Lokaal lokaal { get; set; }

    protected override void OnInitialized()
    {
        //TODO pull uit databank
        lokaal = new Lokaal();
        lokaal.lokaalNr = 214;
    }

}
